.tooltip {
  position: relative;
  display: flex;
}

.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 150px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 10px 3px;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  top: -2px;
  left: 40px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
