@font-face {
  font-family: "Futura Demi C";
  src: url("../assets/fonts/FuturaDemiC.otf") format('opentype');
  src: url("../assets/fonts/FuturaDemiC.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Yeseva One";
  src: url("../assets/fonts/Yeseva One Regular.ttf") format("truetype");
  src: url("../assets/fonts/yeseva_one_regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
